<section class="pb-sm-16 pb-10 players-section bg-inverse">
  <div class="bg-static pt-29">
    <div class="container position-relative z-2">
      <nav class="mb-10" aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item">
            <a class="hover-outline" href="#">Home</a>
          </li>
          <li class="breadcrumb-item">
            <a class="hover-outline" href="#">A-tým</a>
          </li>
          <li class="breadcrumb-item active" aria-current="page">Soupiska</li>
        </ol>
      </nav>
      <div
        class="mb-lg-12 mb-8 d-flex align-items-center justify-content-between gap-lg-8 gap-6 flex-wrap"
      >
        <h1 class="h2 text-primary">Soupiska</h1>
        <form class="submitForm w-sm-auto w-100">
          <select class="js-select" id="year" name="year">
            <option>2025/26</option>
            <option>2024/25</option>
            <option>2023/24</option>
            <option>2022/23</option>
            <option>2021/22</option>
          </select>
        </form>
      </div>
      <ul class="nav nav-tabs d-flex flex-wrap gap-2 mb-10">
        <li class="">
          <a class="tab active" href="#"> Všichni hráči </a>
        </li>
        <li class="">
          <a class="tab" href="#"> Running back </a>
        </li>
        <li class="">
          <a class="tab" href="#"> Wide receiver </a>
        </li>
        <li class="">
          <a class="tab" href="#"> quarterback </a>
        </li>
        <li class="">
          <a class="tab" href="#"> Center </a>
        </li>
        <li class="">
          <a class="tab" href="#"> Linebacker </a>
        </li>
        <li class="">
          <a class="tab" href="#"> Defensive Back </a>
        </li>
        <li class="">
          <a class="tab" href="#"> Offensive Guard </a>
        </li>
        <li class="">
          <a class="tab" href="#"> Offensive Tackle </a>
        </li>
      </ul>

      <div class="mb-18">
        <h2 class="h4 text-secondary mb-lg-6 mb-4">Offense</h2>
        <h3 class="h5 text-primary mb-4">Offense line</h3>
        <div class="row g-6 mb-6">
          <div class="col-xl-3 col-lg-4 col-sm-6">
            <a class="playerCard" href="#">
              <div class="playerCard__img">
                <img
                  src="images/content/player-1.png"
                  loading="lazy"
                  alt="player"
                />
              </div>
              <div class="playerCard__position">Tight End</div>
              <div class="playerCard__number">13</div>
              <div class="playerCard__info h4">
                <span class="text-secondary">Jan</span> Dunovský
              </div>
              <div class="playerCard__hover">
                <ul class="d-flex justify-content-between align-items-center">
                  <li>
                    19
                    <span>věk</span>
                  </li>
                  <li>
                    201 CM
                    <span>výška</span>
                  </li>
                  <li>
                    92 kg
                    <span>váha</span>
                  </li>
                </ul>
              </div>
            </a>
          </div>
          <div class="col-xl-3 col-lg-4 col-sm-6">
            <a class="playerCard" href="#">
              <div class="playerCard__img">
                <img
                  src="images/content/player-2.png"
                  loading="lazy"
                  alt="player"
                />
              </div>
              <div class="playerCard__position">Slot Receiver</div>
              <div class="playerCard__number">8</div>
              <div class="playerCard__info h4">
                <span class="text-secondary">Miroslav</span> Koudela
              </div>
              <div class="playerCard__hover">
                <ul class="d-flex justify-content-between align-items-center">
                  <li>
                    16
                    <span>věk</span>
                  </li>
                  <li>
                    182 CM
                    <span>výška</span>
                  </li>
                  <li>
                    86 kg
                    <span>váha</span>
                  </li>
                </ul>
              </div>
            </a>
          </div>
        </div>
        <h3 class="h5 text-primary mb-4">Receivers</h3>
        <div class="row g-6 mb-6">
          <div class="col-xl-3 col-lg-4 col-sm-6">
            <a class="playerCard" href="#">
              <div class="playerCard__img">
                <img
                  src="images/content/player-3.png"
                  loading="lazy"
                  alt="player"
                />
              </div>
              <div class="playerCard__position">Offensive Tackle</div>
              <div class="playerCard__number">2</div>
              <div class="playerCard__info h4">
                <span class="text-secondary">Jan</span> Dunovský
              </div>
              <div class="playerCard__hover">
                <ul class="d-flex justify-content-between align-items-center">
                  <li>
                    19
                    <span>věk</span>
                  </li>
                  <li>
                    201 CM
                    <span>výška</span>
                  </li>
                  <li>
                    92 kg
                    <span>váha</span>
                  </li>
                </ul>
              </div>
            </a>
          </div>
          <div class="col-xl-3 col-lg-4 col-sm-6">
            <a class="playerCard" href="#">
              <div class="playerCard__img">
                <img
                  src="images/content/player-2.png"
                  loading="lazy"
                  alt="player"
                />
              </div>
              <div class="playerCard__position">Center</div>
              <div class="playerCard__number">5</div>
              <div class="playerCard__info h4">
                <span class="text-secondary">Miroslav</span> Koudela
              </div>
              <div class="playerCard__hover">
                <ul class="d-flex justify-content-between align-items-center">
                  <li>
                    16
                    <span>věk</span>
                  </li>
                  <li>
                    182 CM
                    <span>výška</span>
                  </li>
                  <li>
                    86 kg
                    <span>váha</span>
                  </li>
                </ul>
              </div>
            </a>
          </div>
        </div>

        <h3 class="h5 text-primary mb-4">Quarterbacks</h3>
        <div class="row g-6 mb-6">
          <div class="col-xl-3 col-lg-4 col-sm-6">
            <a class="playerCard" href="#">
              <div class="playerCard__img">
                <img
                  src="images/content/player-1.png"
                  loading="lazy"
                  alt="player"
                />
              </div>
              <div class="playerCard__position">Quarterbacks</div>
              <div class="playerCard__number">55</div>
              <div class="playerCard__info h4">
                <span class="text-secondary">Jan</span> Dunovský
              </div>
              <div class="playerCard__hover">
                <ul class="d-flex justify-content-between align-items-center">
                  <li>
                    19
                    <span>věk</span>
                  </li>
                  <li>
                    201 CM
                    <span>výška</span>
                  </li>
                  <li>
                    92 kg
                    <span>váha</span>
                  </li>
                </ul>
              </div>
            </a>
          </div>
          <div class="col-xl-3 col-lg-4 col-sm-6">
            <a class="playerCard" href="#">
              <div class="playerCard__img">
                <img
                  src="images/content/player-2.png"
                  loading="lazy"
                  alt="player"
                />
              </div>
              <div class="playerCard__position">Quarterbacks</div>
              <div class="playerCard__number">14</div>
              <div class="playerCard__info h4">
                <span class="text-secondary">Miroslav</span> Koudela
              </div>
              <div class="playerCard__hover">
                <ul class="d-flex justify-content-between align-items-center">
                  <li>
                    16
                    <span>věk</span>
                  </li>
                  <li>
                    182 CM
                    <span>výška</span>
                  </li>
                  <li>
                    86 kg
                    <span>váha</span>
                  </li>
                </ul>
              </div>
            </a>
          </div>
          <div class="col-xl-3 col-lg-4 col-sm-6">
            <a class="playerCard" href="#">
              <div class="playerCard__img">
                <img
                  src="images/content/player-1.png"
                  loading="lazy"
                  alt="player"
                />
              </div>
              <div class="playerCard__position">Quarterbacks</div>
              <div class="playerCard__number">55</div>
              <div class="playerCard__info h4">
                <span class="text-secondary">Jan</span> Dunovský
              </div>
              <div class="playerCard__hover">
                <ul class="d-flex justify-content-between align-items-center">
                  <li>
                    19
                    <span>věk</span>
                  </li>
                  <li>
                    201 CM
                    <span>výška</span>
                  </li>
                  <li>
                    92 kg
                    <span>váha</span>
                  </li>
                </ul>
              </div>
            </a>
          </div>
          <div class="col-xl-3 col-lg-4 col-sm-6">
            <a class="playerCard" href="#">
              <div class="playerCard__img">
                <img
                  src="images/content/player-2.png"
                  loading="lazy"
                  alt="player"
                />
              </div>
              <div class="playerCard__position">Quarterbacks</div>
              <div class="playerCard__number">14</div>
              <div class="playerCard__info h4">
                <span class="text-secondary">Miroslav</span> Koudela
              </div>
              <div class="playerCard__hover">
                <ul class="d-flex justify-content-between align-items-center">
                  <li>
                    16
                    <span>věk</span>
                  </li>
                  <li>
                    182 CM
                    <span>výška</span>
                  </li>
                  <li>
                    86 kg
                    <span>váha</span>
                  </li>
                </ul>
              </div>
            </a>
          </div>
          <div class="col-xl-3 col-lg-4 col-sm-6">
            <a class="playerCard" href="#">
              <div class="playerCard__img">
                <img
                  src="images/content/player-1.png"
                  loading="lazy"
                  alt="player"
                />
              </div>
              <div class="playerCard__position">Quarterbacks</div>
              <div class="playerCard__number">55</div>
              <div class="playerCard__info h4">
                <span class="text-secondary">Jan</span> Dunovský
              </div>
              <div class="playerCard__hover">
                <ul class="d-flex justify-content-between align-items-center">
                  <li>
                    19
                    <span>věk</span>
                  </li>
                  <li>
                    201 CM
                    <span>výška</span>
                  </li>
                  <li>
                    92 kg
                    <span>váha</span>
                  </li>
                </ul>
              </div>
            </a>
          </div>
          <div class="col-xl-3 col-lg-4 col-sm-6">
            <a class="playerCard" href="#">
              <div class="playerCard__img">
                <img
                  src="images/content/player-2.png"
                  loading="lazy"
                  alt="player"
                />
              </div>
              <div class="playerCard__position">Quarterbacks</div>
              <div class="playerCard__number">14</div>
              <div class="playerCard__info h4">
                <span class="text-secondary">Miroslav</span> Koudela
              </div>
              <div class="playerCard__hover">
                <ul class="d-flex justify-content-between align-items-center">
                  <li>
                    16
                    <span>věk</span>
                  </li>
                  <li>
                    182 CM
                    <span>výška</span>
                  </li>
                  <li>
                    86 kg
                    <span>váha</span>
                  </li>
                </ul>
              </div>
            </a>
          </div>
          <div class="col-xl-3 col-lg-4 col-sm-6">
            <a class="playerCard" href="#">
              <div class="playerCard__img">
                <img
                  src="images/content/player-2.png"
                  loading="lazy"
                  alt="player"
                />
              </div>
              <div class="playerCard__position">Quarterbacks</div>
              <div class="playerCard__number">14</div>
              <div class="playerCard__info h4">
                <span class="text-secondary">Miroslav</span> Koudela
              </div>
              <div class="playerCard__hover">
                <ul class="d-flex justify-content-between align-items-center">
                  <li>
                    16
                    <span>věk</span>
                  </li>
                  <li>
                    182 CM
                    <span>výška</span>
                  </li>
                  <li>
                    86 kg
                    <span>váha</span>
                  </li>
                </ul>
              </div>
            </a>
          </div>
        </div>
        <h3 class="h5 text-primary mb-4">Running Backs</h3>
        <div class="row g-6 mb-6">
          <div class="col-xl-3 col-lg-4 col-sm-6">
            <a class="playerCard" href="#">
              <div class="playerCard__img">
                <img
                  src="images/content/player-3.png"
                  loading="lazy"
                  alt="player"
                />
              </div>
              <div class="playerCard__position">Offensive Tackle</div>
              <div class="playerCard__number">2</div>
              <div class="playerCard__info h4">
                <span class="text-secondary">Jan</span> Dunovský
              </div>
              <div class="playerCard__hover">
                <ul class="d-flex justify-content-between align-items-center">
                  <li>
                    19
                    <span>věk</span>
                  </li>
                  <li>
                    201 CM
                    <span>výška</span>
                  </li>
                  <li>
                    92 kg
                    <span>váha</span>
                  </li>
                </ul>
              </div>
            </a>
          </div>
          <div class="col-xl-3 col-lg-4 col-sm-6">
            <a class="playerCard" href="#">
              <div class="playerCard__img">
                <img
                  src="images/content/player-3.png"
                  loading="lazy"
                  alt="player"
                />
              </div>
              <div class="playerCard__position">Offensive Tackle</div>
              <div class="playerCard__number">2</div>
              <div class="playerCard__info h4">
                <span class="text-secondary">Jan</span> Dunovský
              </div>
              <div class="playerCard__hover">
                <ul class="d-flex justify-content-between align-items-center">
                  <li>
                    19
                    <span>věk</span>
                  </li>
                  <li>
                    201 CM
                    <span>výška</span>
                  </li>
                  <li>
                    92 kg
                    <span>váha</span>
                  </li>
                </ul>
              </div>
            </a>
          </div>
          <div class="col-xl-3 col-lg-4 col-sm-6">
            <a class="playerCard" href="#">
              <div class="playerCard__img">
                <img
                  src="images/content/player-2.png"
                  loading="lazy"
                  alt="player"
                />
              </div>
              <div class="playerCard__position">Center</div>
              <div class="playerCard__number">5</div>
              <div class="playerCard__info h4">
                <span class="text-secondary">Miroslav</span> Koudela
              </div>
              <div class="playerCard__hover">
                <ul class="d-flex justify-content-between align-items-center">
                  <li>
                    16
                    <span>věk</span>
                  </li>
                  <li>
                    182 CM
                    <span>výška</span>
                  </li>
                  <li>
                    86 kg
                    <span>váha</span>
                  </li>
                </ul>
              </div>
            </a>
          </div>
        </div>
      </div>
      <h2 class="h4 text-secondary mb-lg-6 mb-4">defense</h2>
      <h3 class="h5 text-primary mb-4">Defensive line</h3>
      <div class="row g-6 mb-6">
        <div class="col-xl-3 col-lg-4 col-sm-6">
          <a class="playerCard" href="#">
            <div class="playerCard__img">
              <img
                src="images/content/player-1.png"
                loading="lazy"
                alt="player"
              />
            </div>
            <div class="playerCard__position">Tight End</div>
            <div class="playerCard__number">13</div>
            <div class="playerCard__info h4">
              <span class="text-secondary">Jan</span> Dunovský
            </div>
            <div class="playerCard__hover">
              <ul class="d-flex justify-content-between align-items-center">
                <li>
                  19
                  <span>věk</span>
                </li>
                <li>
                  201 CM
                  <span>výška</span>
                </li>
                <li>
                  92 kg
                  <span>váha</span>
                </li>
              </ul>
            </div>
          </a>
        </div>
        <div class="col-xl-3 col-lg-4 col-sm-6">
          <a class="playerCard" href="#">
            <div class="playerCard__img">
              <img
                src="images/content/player-1.png"
                loading="lazy"
                alt="player"
              />
            </div>
            <div class="playerCard__position">Tight End</div>
            <div class="playerCard__number">13</div>
            <div class="playerCard__info h4">
              <span class="text-secondary">Jan</span> Dunovský
            </div>
            <div class="playerCard__hover">
              <ul class="d-flex justify-content-between align-items-center">
                <li>
                  19
                  <span>věk</span>
                </li>
                <li>
                  201 CM
                  <span>výška</span>
                </li>
                <li>
                  92 kg
                  <span>váha</span>
                </li>
              </ul>
            </div>
          </a>
        </div>
        <div class="col-xl-3 col-lg-4 col-sm-6">
          <a class="playerCard" href="#">
            <div class="playerCard__img">
              <img
                src="images/content/player-2.png"
                loading="lazy"
                alt="player"
              />
            </div>
            <div class="playerCard__position">Slot Receiver</div>
            <div class="playerCard__number">8</div>
            <div class="playerCard__info h4">
              <span class="text-secondary">Miroslav</span> Koudela
            </div>
            <div class="playerCard__hover">
              <ul class="d-flex justify-content-between align-items-center">
                <li>
                  16
                  <span>věk</span>
                </li>
                <li>
                  182 CM
                  <span>výška</span>
                </li>
                <li>
                  86 kg
                  <span>váha</span>
                </li>
              </ul>
            </div>
          </a>
        </div>
      </div>
      <h3 class="h5 text-primary mb-4">Linebackers</h3>
      <div class="row g-6 mb-6">
        <div class="col-xl-3 col-lg-4 col-sm-6">
          <a class="playerCard" href="#">
            <div class="playerCard__img">
              <img
                src="images/content/player-1.png"
                loading="lazy"
                alt="player"
              />
            </div>
            <div class="playerCard__position">Offensive Tackle</div>
            <div class="playerCard__number">2</div>
            <div class="playerCard__info h4">
              <span class="text-secondary">Jan</span> Dunovský
            </div>
            <div class="playerCard__hover">
              <ul class="d-flex justify-content-between align-items-center">
                <li>
                  19
                  <span>věk</span>
                </li>
                <li>
                  201 CM
                  <span>výška</span>
                </li>
                <li>
                  92 kg
                  <span>váha</span>
                </li>
              </ul>
            </div>
          </a>
        </div>
        <div class="col-xl-3 col-lg-4 col-sm-6">
          <a class="playerCard" href="#">
            <div class="playerCard__img">
              <img
                src="images/content/player-2.png"
                loading="lazy"
                alt="player"
              />
            </div>
            <div class="playerCard__position">Center</div>
            <div class="playerCard__number">5</div>
            <div class="playerCard__info h4">
              <span class="text-secondary">Miroslav</span> Koudela
            </div>
            <div class="playerCard__hover">
              <ul class="d-flex justify-content-between align-items-center">
                <li>
                  16
                  <span>věk</span>
                </li>
                <li>
                  182 CM
                  <span>výška</span>
                </li>
                <li>
                  86 kg
                  <span>váha</span>
                </li>
              </ul>
            </div>
          </a>
        </div>
      </div>

      <h3 class="h5 text-primary mb-4">Defensive backs</h3>
      <div class="row g-6">
        <div class="col-xl-3 col-lg-4 col-sm-6">
          <a class="playerCard" href="#">
            <div class="playerCard__img">
              <img
                src="images/content/player-1.png"
                loading="lazy"
                alt="player"
              />
            </div>
            <div class="playerCard__position">Quarterbacks</div>
            <div class="playerCard__number">55</div>
            <div class="playerCard__info h4">
              <span class="text-secondary">Jan</span> Dunovský
            </div>
            <div class="playerCard__hover">
              <ul class="d-flex justify-content-between align-items-center">
                <li>
                  19
                  <span>věk</span>
                </li>
                <li>
                  201 CM
                  <span>výška</span>
                </li>
                <li>
                  92 kg
                  <span>váha</span>
                </li>
              </ul>
            </div>
          </a>
        </div>
        <div class="col-xl-3 col-lg-4 col-sm-6">
          <a class="playerCard" href="#">
            <div class="playerCard__img">
              <img
                src="images/content/player-2.png"
                loading="lazy"
                alt="player"
              />
            </div>
            <div class="playerCard__position">Quarterbacks</div>
            <div class="playerCard__number">14</div>
            <div class="playerCard__info h4">
              <span class="text-secondary">Miroslav</span> Koudela
            </div>
            <div class="playerCard__hover">
              <ul class="d-flex justify-content-between align-items-center">
                <li>
                  16
                  <span>věk</span>
                </li>
                <li>
                  182 CM
                  <span>výška</span>
                </li>
                <li>
                  86 kg
                  <span>váha</span>
                </li>
              </ul>
            </div>
          </a>
        </div>
        <div class="col-xl-3 col-lg-4 col-sm-6">
          <a class="playerCard" href="#">
            <div class="playerCard__img">
              <img
                src="images/content/player-1.png"
                loading="lazy"
                alt="player"
              />
            </div>
            <div class="playerCard__position">Quarterbacks</div>
            <div class="playerCard__number">55</div>
            <div class="playerCard__info h4">
              <span class="text-secondary">Jan</span> Dunovský
            </div>
            <div class="playerCard__hover">
              <ul class="d-flex justify-content-between align-items-center">
                <li>
                  19
                  <span>věk</span>
                </li>
                <li>
                  201 CM
                  <span>výška</span>
                </li>
                <li>
                  92 kg
                  <span>váha</span>
                </li>
              </ul>
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
