<div class="heroPosts">
  <picture class="heroPosts__img">
    <source
      media="(max-width: 768px)"
      srcset="
        https://picsum.photos/696/364  1x,
        https://picsum.photos/1392/728 2x
      "
    />

    <source
      media="(min-width: 769px)"
      srcset="
        https://picsum.photos/920/704   1x,
        https://picsum.photos/1840/1408 2x
      "
    />

    <img
      src="https://picsum.photos/920/704"
      alt="Hero section image"
      width="920"
      height="704"
      loading="eager"
      decoding="async"
    />
  </picture>

  <div class="heroPosts__content">
    <ul class="heroPosts__list">
      <li class="heroPosts__item">
        <a href="#" class="heroPosts__link">
          <div class="text-secondary text-regular-xs mb-4">
            12. prosince 2025
          </div>
          <h1 class="h4">
            Vysočina Gladiators jsou mistry české ligy amerického fotbalu
          </h1>
        </a>
      </li>
      <li class="heroPosts__item">
        <a href="#" class="heroPosts__link">
          <div class="text-secondary text-regular-xs mb-4">
            12. prosince 2025
          </div>
          <h2 class="h4">LET THE CZECH BOWL BEGIN! CHCEME DRUHÝ TITUL!</h2>
        </a>
      </li>
      <li class="heroPosts__item">
        <a href="#" class="heroPosts__link">
          <div class="text-secondary text-regular-xs mb-4">
            12. prosince 2025
          </div>
          <h2 class="h4">
            GLADS NEBO KNIGHTS? DUNDÁČEK NEBO BÚTORA? KONEC SEZONY NEBO CZECH
            BOWL?
          </h2>
        </a>
      </li>
    </ul>
    <a href="#" class="btn-light">Archiv článků</a>
  </div>
</div>
