.postFeatured {
  display: block;
  border-radius: 1rem;
  aspect-ratio: 87/44;
  position: relative;
  overflow: hidden;
  width: 100%;
  @include media-breakpoint-up(xl) {
    min-height: 704px;
  }

  &::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(6, 9, 14, 0.3);

    background-image: linear-gradient(
        102.94deg,
        rgba(211, 31, 60, 0.3) 21.99%,
        rgba(211, 31, 60, 0) 70.47%
      ),
      linear-gradient(
        354.01deg,
        rgba(6, 9, 14, 0.9) 17.29%,
        rgba(6, 9, 14, 0) 68.8%
      );

    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    z-index: 2;
  }
  &:hover {
    .postFeatured-img img {
      transform: scale(1.05);
    }
    .h2 {
      text-decoration-color: var(--color-text-primary);
    }
  }
  &-img {
    display: block;
    width: 100%;
    height: 100%;
    img {
      object-fit: cover;
      transition: all 0.3s;
      width: 100%;
      height: 100%;
    }
  }

  &-content {
    position: absolute;
    left: 0;
    padding: 0 40px;
    bottom: 40px;
    z-index: 5;
    max-width: 1020px;
    .h2 {
      text-decoration: underline;
      text-decoration-color: transparent;
      transition: text-decoration-color 0.3s;
    }
  }
}
