<a class="postFeatured" href="#">
  <picture class="postFeatured-img">
    <source
      media="(max-width: 768px)"
      srcset="
        https://picsum.photos/696/364  1x,
        https://picsum.photos/1392/728 2x
      "
    />

    <source
      media="(min-width: 769px)"
      srcset="
        https://picsum.photos/1392/704  1x,
        https://picsum.photos/2784/1408 2x
      "
    />

    <img
      src="https://picsum.photos/1392/704"
      alt="Hero section image"
      width="1392"
      height="704"
      loading="eager"
      decoding="async"
    />
  </picture>
  <div class="postFeatured-content">
    <div class="text-medium-sm text-secondary mb-4">12. prosince 2025</div>
    <h2 class="h2 text-primary">
      Vysočina Gladiators jsou mistry české ligy amerického fotbalu
    </h2>
  </div>
</a>
