.partnersSlider {
  overflow: visible;

  .swiper-slide {
    width: max-content;
    a {
      position: relative;
      z-index: 5;
      background: var(--color-inverse);
      display: flex;
      justify-content: center;
      align-items: center;
      width: 270px;
      height: 176px;
      transition: all 0.3s;
      border-radius: 16px;
      border: 1px solid transparent;
      &:hover {
        border: 1px solid var(--color-white);
      }
    }
    img {
      object-fit: contain;
      max-width: 180px;
      width: 80%;
      height: 80%;
    }
  }
}
.infinite-scroll-swiper {
  -webkit-transition-timing-function: linear !important;
  -o-transition-timing-function: linear !important;
  transition-timing-function: linear !important;
}
.partnersSlider-section {
  &::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    // background: rgba(#06090e, 0.9);
  }
}
.partnersSlider-section {
  position: relative;
  z-index: 2;
}
