<section class="py-lg-16 py-8 bg-inverse">
  <div class="container">
    <h6 class="h5 text-secondary mb-lg-6 mb-4">Další články</h6>
    <div class="swiper posts">
      <ul role="list" class="swiper-wrapper infinite-scroll-swiper">
        {% for i in 1..6 %}
        <li class="swiper-slide">
          {% include "@components/postCard/postCard.twig" %}
        </li>
        {% endfor %}
      </ul>
    </div>
  </div>
</section>
