.bg-article {
  background-image: url(../images/content/bg-article.png);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  position: relative;
  background-position: bottom;
  &::before {
    content: "";
    position: absolute;
  }
}
.article-section {
  position: relative;
  z-index: 3;
  &__img {
    border-radius: 1rem;
    overflow: hidden;
    margin-bottom: 48px;
    overflow: hidden;
    display: block;
    width: 100%;
    @include media-breakpoint-down(lg) {
      margin-bottom: 32px;
    }
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}
