<div
  class="d-flex flex-wrap gap-12 align-items-center justify-content-center mb-lg-12 mb-8"
>
  <ul class="nav nav-tabs d-flex flex-wrap gap-2 justify-content-center">
    <li class="">
      <a class="tab " data-toggle="tab" href="#stats"> Statistiky </a>
    </li>
    <li class="">
      <a class="tab active" data-toggle="tab" href="#profil"> Profil </a>
    </li>
    <li class="">
      <a class="tab " data-toggle="tab" href="#clanky"> články </a>
    </li>
  </ul>
  <a href="#" target="_blank">
    <img
      class="object-fit-contain"
      src="images/ico/insta-accent.svg"
      width="18"
      height="18"
      alt="instagram"
    />
  </a>
</div>
<div class="tab-content">
  <div class="tab-pane fade" id="stats">
    <div class="container">
      
   <h3 class="h5">Aktuální statistiky</h3>
        <div class="table-responsive mb-12">
          <table class="">
            <thead>
              <tr>
                <th class="text-start">Sezóna</th>
                <th class="text-center">
                  Z
                </th>
                <th>
                  Min
                </th>
                <th class="text-center">
                  Stř 
                </th>
                <th class="text-center">
                  Ink 
                </th>
                <th class="text-center">
                  Prů 
                </th>
                <th class="text-center"> 
                   Úsp 
                </th>
                <th class="text-center">
                  TM
                </th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td class="text-start">
                  <a href="/statistics/MUZ/2026">
                    <strong>Tipsport extraliga 2025/2026</strong>
                  </a>
                </td>
                <td class="text-center">26</td>
                <td class="text-center">1523</td>
                <td class="text-center">877</td>
                <td class="text-center">81</td>
                <td class="text-center">3.12</td>
                <td class="text-center">90.80%</td>
                <td class="text-center">0</td>
              </tr>
            </tbody>
          </table>
        </div>

        <h3 class="h5">Posledních 5 zápasů</h3>
        <div class="table-responsive">
          <table class=" ">
            <thead>
              <tr>
                <th class="text-start">Zápas</th>
                <th class="text-center">
                   Min
                </th>
                <th class="text-center">
                   Stř 
                </th>
                <th class="text-center"> 
                  Zás
                </th>
                <th class="text-center">
                  Ink
                </th>
                <th class="text-center">
                  Úsp
                </th>
                <th class="text-center">
                   TM
                </th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td class="text-start">
                  <strong
                    >27. 02. 2026: LIT-PCE
                    <a href="#">1:4</a>
                  </strong>
                </td>
                <td class="text-center">40</td>
                <td class="text-center">26</td>
                <td class="text-center">22</td>
                <td class="text-center"> 4</td>
                <td class="text-center">84.6%</td>
                <td class="text-center">0</td>
              </tr>
               <tr>
                <td class="text-start">
                  <strong
                    >27. 02. 2026: LIT-PCE
                    <a href="#">1:4</a>
                  </strong>
                </td>
                <td class="text-center">40</td>
                <td class="text-center">26</td>
                <td class="text-center">22</td>
                <td class="text-center"> 4</td>
                <td class="text-center">84.6%</td>
                <td class="text-center">0</td>
              </tr>
               <tr>
                <td class="text-start">
                  <strong
                    >27. 02. 2026: LIT-PCE
                    <a href="#">1:4</a>
                  </strong>
                </td>
                <td class="text-center">40</td>
                <td class="text-center">26</td>
                <td class="text-center">22</td>
                <td class="text-center"> 4</td>
                <td class="text-center">84.6%</td>
                <td class="text-center">0</td>
              </tr>
               <tr>
                <td class="text-start">
                  <strong
                    >27. 02. 2026: LIT-PCE
                    <a href="#">1:4</a>
                  </strong>
                </td>
                <td class="text-center">40</td>
                <td class="text-center">26</td>
                <td class="text-center">22</td>
                <td class="text-center"> 4</td>
                <td class="text-center">84.6%</td>
                <td class="text-center">0</td>
              </tr>
               <tr>
                <td class="text-start">
                  <strong
                    >27. 02. 2026: LIT-PCE
                    <a href="#">1:4</a>
                  </strong>
                </td>
                <td class="text-center">40</td>
                <td class="text-center">26</td>
                <td class="text-center">22</td>
                <td class="text-center"> 4</td>
                <td class="text-center">84.6%</td>
                <td class="text-center">0</td>
              </tr>
            
            </tbody>
          </table>
        </div>
     </div>
    </div>
    <div class="tab-pane   in active" id="profil">
      <div class="container-xs px-md-6 px-4">
        <div class="o-content text-primary">
          <div class="perex">
            Oddechl si. A pořádně. Takovou kliku Přední Kopanina ve čtvrté lize
            potřebovala. K výhře 1:0 nad Spoji, městským rivalem, došel tým od
            letiště díky vlastnímu gólu soupeře. Padl po rohovém kopu
            střídajícího Sebastiana Razetta, kdy míč nešťastně tečoval Vonášek
            ze Spojů. Hráč s číslem 77, to vše v 77. minutě... „Hlavně, že to
            tam spadlo,“ usmál se Razzeto v rozhovoru pro fotbalpraha.cz.
          </div>
          <p>
            Oddechl si. A pořádně. Takovou kliku Přední Kopanina ve čtvrté lize
            potřebovala. K výhře 1:0 nad Spoji, městským rivalem, došel tým od
            letiště díky vlastnímu gólu soupeře.
          </p>
          <p>
            Oddechl si. A pořádně. Takovou kliku Přední Kopanina ve čtvrté lize
            potřebovala. K výhře 1:0 nad Spoji, městským rivalem, došel tým od
            letiště díky vlastnímu gólu soupeře. Padl po rohovém kopu
            střídajícího Sebastiana Razetta, kdy míč nešťastně tečoval Vonášek
            ze Spojů. Hráč s číslem 77, to vše v 77. minutě... „Hlavně, že to
            tam spadlo,“ usmál se Razzeto v rozhovoru pro fotbalpraha.cz.
          </p>
          <p>
            Padl po rohovém kopu střídajícího Sebastiana Razetta, kdy míč
            nešťastně tečoval Vonášek ze Spojů. Hráč s číslem 77, to vše v 77.
            minutě... „Hlavně, že to tam spadlo,“ usmál se Razzeto v rozhovoru
            pro fotbalpraha.cz.
          </p>
          <hr />
          <h6>Historie</h6>
          <h5>Výsledky zde:</h5>
          <ul>
            <li>Na výsadbu tak půjde jeden milion korun</li>
            <li>
              <a href="#">Na výsadbu tak půjde </a>
            </li>
            <li>Na výsadbu tak půjde jeden milion korun</li>
            <li>Na výsadbu tak půjde</li>
            <li>Na výsadbu tak půjde jeden milion korun</li>
            <li>Na výsadbu tak půjde</li>
          </ul>
          <hr />
          <p>
            Tým Přední Kopanina se tak posunul na druhé místo v tabulce, což jim
            dává naději na postup do vyšší soutěže. Vyrovnaný výkon a odhodlání
            hráčů byly klíčové, a fanoušci na stadionu mohli slavit cenné tři
            body.
          </p>
          <p>
            Po vítězném utkání vyjádřil trenér mužstva spokojenost s výkonem
            celého týmu a zdůraznil, že každý zápas je důležitý pro konečné
            umístění. „Musíme i nadále makat a nezapomínat na naše cíle,“ dodal
            s úsměvem.
          </p>
          <p>
            Fanoušci se také shodli na tom, že klíčovým hráčem byl brankář,
            který v závěrečných minutách zlikvidoval několik nebezpečných střel
            soupeře. Přední Kopanina si tak upevnila pozici v soutěži a může s
            optimismem hledět do budoucna.
          </p>
          <img
            src="https://picsum.photos/1392/704"
            alt="Hero section image"
            width="100%"
            height="auto"
            loading="lazy"
            class="rounded-16 object-fit-cover"
          />
          <p>
            Další zápas je naplánován na neděli a tým se chystá na těžkého
            soupeře z prvního místa. Očekává se, že fanoušci opět zaplní stadion
            a podpoří své hráče v klíčovém duelu.
          </p>
          <p>
            Trenér zdůraznil potřebu udržet si dobrou formu a přistoupit k
            zápasu s plným nasazením. „Každý bod se počítá a my jsme připraveni
            bojovat,“ prohlásil na tiskové konferenci před zápasem.
          </p>
          <p>
            Všichni hráči jsou v dobrém rozpoložení a tým věří, že pokud budou
            pokračovat v dobrých výkonech, mohou se dostat na vrchol tabulky a
            splnit si své ambice.
          </p>
        </div>
        {% include "@components/gallery/gallery.twig" %}
      </div>
    </div>
     <div class="tab-pane fade" id="clanky">
    <div class="container">
      <div class=" row gx-6 gy-lg-16 gy-8">
        {% for i in 1..6 %}
        <div class="col-xl-4 col-md-6">
          {% include "@components/postCard/postCard.twig" %}
        </div>
        {% endfor %}
      </div>
     </div>
    </div>
  </div>
</div>
