<div
  id="timer-wrapper-1"
  class="timer"
  role="timer"
  aria-label="A timer, counting down to {{ eventName }}"
  data-endtime="2026-03-10T02:00"
>
  <span class="timer__item" id="timer-days-1">
    <span class="timer__value" id="countdown-days-1">{{ days }}</span>
    <span class="timer__label timer__label-days" id="countdown-days-label-1"
      >dní</span
    >
  </span>
  <span class="timer__item" id="timer-hours-1">
    <span class="timer__value" id="countdown-hours-1">{{ hours }}</span>

    <span class="timer__label" id="countdown-hours-label-1">hodin</span>
  </span>
  <span class="timer__item" id="timer-minutes-1">
    <span class="timer__value" id="countdown-minutes-1">{{ minutes }}</span>
    <span class="timer__label" id="countdown-minutes-label-1">minut</span>
  </span>
</div>
