<section class="playerTop">
  <div class="container">
    <div class="playerTop__img">
      <img src="images/content/player-2.png" alt="player detail" />
      <div class="playerTop__number">55</div>
    </div>
    <div class="playerTop__content">
      <h1 class="h2">
        <div class="text-primary">“sucháč”</div>
        <div class="text-secondary">Jan Dunovksý</div>
      </h1>
      <ul class="playerTop__list">
        <li>
          <div class="h5 text-primary">Offensive Tackle</div>
          <div class="text-black-md font-title fs-italic text-secondary">
            pozice v gladiators
          </div>
        </li>
        <li>
          <div class="h5 text-primary">31. 1. 1989</div>
          <div class="text-black-md font-title fs-italic text-secondary">
            datum narození
          </div>
        </li>
        <li>
          <div class="h5 text-primary">189 cm</div>
          <div class="text-black-md font-title fs-italic text-secondary">
            výška
          </div>
        </li>
        <li>
          <div class="h5 text-primary">86 kg</div>
          <div class="text-black-md font-title fs-italic text-secondary">
            váha
          </div>
        </li>
        <li>
          <div class="h5 text-primary">36 let</div>
          <div class="text-black-md font-title fs-italic text-secondary">
            Roky
          </div>
        </li>
        <li>
          <div class="h5 text-primary">Pelhřimov</div>
          <div class="text-black-md font-title fs-italic text-secondary">
            Místo narození
          </div>
        </li>
        <li>
          <div class="h5 text-primary">2000</div>
          <div class="text-black-md font-title fs-italic text-secondary">
            Začátek s fotbalem
          </div>
        </li>
        <li>
          <div class="h5 text-primary">Gladiators</div>
          <div class="text-black-md font-title fs-italic text-secondary">
            Předchozí klub
          </div>
        </li>
        <li>
          <div class="h5 text-primary">Gladiators</div>
          <div class="text-black-md font-title fs-italic text-secondary">
            College Football
          </div>
        </li>
      </ul>
    </div>
  </div>
</section>
