.mediaItem {
  position: relative;
  z-index: 2;
  &__link {
    text-decoration-color: transparent;
    display: block;
    &:hover {
      text-decoration-color: inherit;
      .mediaItem__img img {
        transform: scale(1.05);
      }
    }
  }
  &__img {
    width: 100%;
    aspect-ratio: 448/280;
    border-radius: 16px;
    overflow: hidden;
    position: relative;
    display: block;
    margin-bottom: 32px;
    @include media-breakpoint-down(lg) {
      margin-bottom: 24px;
    }
    &::before {
      content: "";
      position: absolute;
      width: 100%;
      height: 100%;
      background: linear-gradient(
        124.82deg,
        #06090e -5.15%,
        rgba(6, 9, 14, 0) 53.8%
      );
      left: 0;
      bottom: 0;
      z-index: 2;
    }
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      transition: all 0.3s;
    }
  }
  &__social {
    position: absolute;
    left: 16px;
    top: 16px;
    display: flex;
    align-items: center;
    gap: 12px;
    color: var(--color-accent);
    text-decoration-color: transparent;
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    letter-spacing: -0.01em;
    z-index: 3;
    transition: all 0.3s;

    &:hover {
      text-decoration-color: inherit;
    }
  }
}
