<section class="media-section">
  <div class="container">
    <h5 class="h5 text-secondary mb-lg-6 mb-4">Soci치ln칤 s칤t캩</h5>
    <div class="row g-6">
      <div class="col-lg-4 col-sm-6">
        <div class="mediaItem">
          <a href="#" class="mediaItem__link">
            <picture class="mediaItem__img">
              <source
                media="(min-width: 769px)"
                srcset="
                  https://picsum.photos/448/280 1x,
                  https://picsum.photos/896/560 2x
                "
              />

              <img
                src="https://picsum.photos/448/280"
                alt="post image"
                width="448"
                height="280"
                loading="lazy"
                decoding="async"
              />
            </picture>
            <div class="text-regular-sm px-lg-4 px-3">
              游끥CZECH BOWL XXXII CHAMPIONS!游끥
              <br />
              游꿀Poh치r m칤콏칤 DOM콡 - na Vyso캜inu!游댠
            </div>
          </a>
          <a href="#" class="mediaItem__social">
            <img src="images/ico/instagram.svg" loading="lazy" alt="social" />
            Instagram
          </a>
        </div>
      </div>
      <div class="col-lg-4 col-sm-6">
        <div class="mediaItem">
          <a href="#" class="mediaItem__link">
            <picture class="mediaItem__img">
              <source
                media="(min-width: 769px)"
                srcset="
                  https://picsum.photos/448/280 1x,
                  https://picsum.photos/896/560 2x
                "
              />

              <img
                src="https://picsum.photos/448/280"
                alt="post image"
                width="448"
                height="280"
                loading="lazy"
                decoding="async"
              />
            </picture>
            <div class="text-regular-sm px-lg-4 px-3">
              游끥CZECH BOWL XXXII CHAMPIONS!游끥
              <br />
              游꿀Poh치r m칤콏칤 DOM콡 - na Vyso캜inu!游댠
            </div>
          </a>
          <a href="#" class="mediaItem__social">
            <img src="images/ico/fb.svg" loading="lazy" alt="social" />
            Facebook
          </a>
        </div>
      </div>
      <div class="col-lg-4 col-sm-6">
        <div class="mediaItem">
          <a href="#" class="mediaItem__link">
            <picture class="mediaItem__img">
              <source
                media="(min-width: 769px)"
                srcset="
                  https://picsum.photos/448/280 1x,
                  https://picsum.photos/896/560 2x
                "
              />

              <img
                src="https://picsum.photos/448/280"
                alt="post image"
                width="448"
                height="280"
                loading="lazy"
                decoding="async"
              />
            </picture>
            <div class="text-regular-sm px-lg-4 px-3">
              SEST콎IH z posledn칤ho utk치n칤
            </div>
          </a>
          <a href="#" class="mediaItem__social">
            <img src="images/ico/youtube.svg" loading="lazy" alt="social" />
            Youtube
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
