[class^="postCard-"] {
}

.postCard {
  position: relative;
  display: block;
  text-decoration: none;
  &:hover {
    .postCard__img img {
      transform: scale(1.05);
    }
    .h5 {
      text-decoration-color: var(--color-text-primary);
    }
  }
  &__img {
    width: 100%;
    aspect-ratio: 448/280;
    border-radius: 16px;
    overflow: hidden;
    margin-bottom: 24px;
    @include media-breakpoint-down(lg) {
      margin-bottom: 20px;
    }
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      transition: all 0.3s;
    }
  }
  .h5 {
    transition: all 0.3s;
    text-decoration: underline;
    text-decoration-color: transparent;
  }
}
