<a class="postCard" href="#">
  <picture class="postCard__img">
    <source
      media="(min-width: 769px)"
      srcset="
        https://picsum.photos/448/280 1x,
        https://picsum.photos/896/560 2x
      "
    />

    <img
      src="https://picsum.photos/448/280"
      alt="post image"
      width="448"
      height="280"
      loading="lazy"
      decoding="async"
    />
  </picture>

  <div class="px-4 pb-10">
    <div class="text-medium-sm text-secondary mb-2">12. prosince 2025</div>
    <h4 class="h5 text-primary">Výhra na půdě posledního Znojma</h4>
  </div>
</a>
