.c-header__opener {
  padding: 0.25rem 0.75rem;
  font-size: 1.25rem;
  line-height: 1;
  background-color: transparent;
  border: 0.0625rem solid transparent;
  border-radius: 0.25rem;
  transition: box-shadow 0.15s ease-in-out;
  display: flex;
  align-items: center;
  position: relative;
  color: var(--color-text-secondary);
  z-index: 5;
  cursor: pointer;
  @include media-breakpoint-down(sm) {
    padding: 0.25rem 0;
    padding-right: 12px;
  }
  span {
    transition: all 0.3s;
    width: 24px;
    height: 3px;
    background: var(--color-text-secondary);
    transform: translateY(-1px);
    display: block;
    margin-left: 16px;
    &::before,
    &::after {
      transition: all 0.3s;
      content: "";
      position: absolute;
      width: 24px;
      height: 3px;
      background: var(--color-text-secondary);
      left: 0;
      right: 0;
    }
    &::before {
      transform: translateY(-7px);
    }
    &::after {
      transform: translateY(7px);
    }
  }
  &:focus {
    box-shadow: none;
  }

  @include media-breakpoint-only(xxl) {
    display: none;
  }
  @include media-breakpoint-only(xl) {
    display: none;
  }
}

.c-header__opener.is-open {
  span {
    border-color: transparent;
    background: transparent;
  }
  span:before {
    transform: rotate(45deg);
  }
  span:after {
    transform: rotate(-45deg);
  }
}
