.nav.nav-tabs {
  .tab.active:hover,
  .tab.active {
    color: var(--color-accent);
    border: 1px solid var(--color-accent) !important;
  }
  .tab {
    display: block;
    background-color: transparent;
    outline: none;
    padding: 0;
    padding: 12px 16px;
    text-align: center;
    cursor: pointer;
    transition: all 0.3s;
    text-decoration-color: transparent;
    font-weight: 900;
    font-style: Italic;
    font-family: var(--font-title);
    font-size: 16px;
    line-height: 22px;
    text-transform: uppercase;
    border-radius: 32px;
    color: var(--color-text-primary);
    border: 1px solid transparent;
    &:hover {
      border: 1px solid var(--color-text-primary) !important;
    }
  }
}
