.heroMatch {
  background: linear-gradient(90deg, #06090e 0%, #06090e 0%, #d31f3c 220%);

  height: 100%;
  border-radius: 16px;
  overflow: hidden;
  padding: 24px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  .tags {
    gap: 8px 40px;
    li + li::before {
      left: -22px;
    }
  }

  &__links {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}
