<div class="heroMatch">
  <ul class="tags justify-content-center text-secondary flex-wrap mb-6">
    <li>Stadion Vysočina</li>
    <li>5. ledna 2025</li>
    <li>17:00</li>
  </ul>
  <div class="heroMatch__content">
    <div class="row">
      <div class="col text-center">
        <img
          width="64"
          height="64"
          class="object-fit-contain mx-auto"
          src="images/content/logo-mobile.png"
          alt="team"
          loading="lazy"
        />
        <h3 class="h6 text-primary mt-3">Vysočina Gladiators</h3>
      </div>
      <div class="col text-center">
        <img
          width="64"
          height="64"
          class="object-fit-contain mx-auto"
          src="images/content/znojmo.png"
          alt="team"
          loading="lazy"
        />
        <h3 class="h6 text-primary mt-3">Znojmo Knights</h3>
      </div>
    </div>
    {% include "@components/timer/timer.twig" %}
  </div>
  <div class="heroMatch__links">
    <div class="d-flex gap-2">
      <a href="#" class="btn-light"> vstupenky </a>
      <a href="#" class="btn-light">preview</a>
    </div>

    <a
      class="d-block hover-outline text-accent text-black-md text-uppercase fs-italic font-title mt-10"
      href="#"
    >
      Vstupenky na další zápasy
    </a>
  </div>
</div>
