<section class="pb-sm-16 pb-10 players-section bg-inverse">
  <div class="bg-static pt-29">
    <div class="container position-relative z-2">
      <nav class="mb-10" aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item">
            <a class="hover-outline" href="#">Home</a>
          </li>
          <li class="breadcrumb-item">
            <a class="hover-outline" href="#">A-tým</a>
          </li>
          <li class="breadcrumb-item active" aria-current="page">
            Realizační tým
          </li>
        </ol>
      </nav>
      <div
        class="mb-lg-8 mb-6 d-flex align-items-center justify-content-between gap-lg-8 gap-6 flex-wrap"
      >
        <h1 class="h2 text-primary">Realizační tým</h1>
        <form class="submitForm w-sm-auto w-100">
          <select class="js-select" id="year" name="year">
            <option>2025/26</option>
            <option>2024/25</option>
            <option>2023/24</option>
            <option>2022/23</option>
            <option>2021/22</option>
          </select>
        </form>
      </div>
      <h2 class="h5 text-secondary mb-4">Hlavní trenér</h2>
      <div class="row g-6 mb-6">
        <div class="col-xl-3 col-lg-4 col-sm-6">
          <div class="playerCard">
            <div class="playerCard__img">
              <img
                src="images/content/player-1.png"
                loading="lazy"
                alt="player"
              />
            </div>
            <div class="playerCard__info h4">
              <span class="text-secondary">Jan</span> Dunovský
            </div>
          </div>
        </div>
      </div>
      <h3 class="h5 text-secondary mb-4">Asistenti trenéra</h3>
      <div class="row g-6 mb-6">
        <div class="col-xl-3 col-lg-4 col-sm-6">
          <div class="playerCard">
            <div class="playerCard__img">
              <img
                src="images/content/player-3.png"
                loading="lazy"
                alt="player"
              />
            </div>
            <div class="playerCard__info h4">
              <span class="text-secondary">Jan</span> Dunovský
            </div>
          </div>
        </div>
        <div class="col-xl-3 col-lg-4 col-sm-6">
          <div class="playerCard">
            <div class="playerCard__img">
              <img
                src="images/content/player-2.png"
                loading="lazy"
                alt="player"
              />
            </div>
            <div class="playerCard__info h4">
              <span class="text-secondary">Miroslav</span> Koudela
            </div>
          </div>
        </div>
      </div>

      <h3 class="h5 text-secondary mb-4">Kondiční trenéři</h3>
      <div class="row g-6 mb-6">
        <div class="col-xl-3 col-lg-4 col-sm-6">
          <div class="playerCard">
            <div class="playerCard__img">
              <img
                src="images/content/player-3.png"
                loading="lazy"
                alt="player"
              />
            </div>
            <div class="playerCard__info h4">
              <span class="text-secondary">Jan</span> Dunovský
            </div>
          </div>
        </div>
        <div class="col-xl-3 col-lg-4 col-sm-6">
          <div class="playerCard">
            <div class="playerCard__img">
              <img
                src="images/content/player-2.png"
                loading="lazy"
                alt="player"
              />
            </div>
            <div class="playerCard__info h4">
              <span class="text-secondary">Miroslav</span> Koudela
            </div>
          </div>
        </div>
        <div class="col-xl-3 col-lg-4 col-sm-6">
          <div class="playerCard">
            <div class="playerCard__img">
              <img
                src="images/content/player-3.png"
                loading="lazy"
                alt="player"
              />
            </div>
            <div class="playerCard__info h4">
              <span class="text-secondary">Jan</span> Dunovský
            </div>
          </div>
        </div>
        <div class="col-xl-3 col-lg-4 col-sm-6">
          <div class="playerCard">
            <div class="playerCard__img">
              <img
                src="images/content/player-2.png"
                loading="lazy"
                alt="player"
              />
            </div>
            <div class="playerCard__info h4">
              <span class="text-secondary">Miroslav</span> Koudela
            </div>
          </div>
        </div>
      </div>

      <h3 class="h5 text-secondary mb-4">Vedoucí mužstva</h3>
      <div class="row g-6 mb-6">
        <div class="col-xl-3 col-lg-4 col-sm-6">
          <div class="playerCard">
            <div class="playerCard__img">
              <img
                src="images/content/player-1.png"
                loading="lazy"
                alt="player"
              />
            </div>
            <div class="playerCard__info h4">
              <span class="text-secondary">Jan</span> Dunovský
            </div>
          </div>
        </div>
      </div>
      <h3 class="h5 text-secondary mb-4">Analytici</h3>
      <div class="row g-6 mb-6">
        <div class="col-xl-3 col-lg-4 col-sm-6">
          <div class="playerCard">
            <div class="playerCard__img">
              <img
                src="images/content/player-1.png"
                loading="lazy"
                alt="player"
              />
            </div>
            <div class="playerCard__info h4">
              <span class="text-secondary">Jan</span> Dunovský
            </div>
          </div>
        </div>
        <div class="col-xl-3 col-lg-4 col-sm-6">
          <div class="playerCard">
            <div class="playerCard__img">
              <img
                src="images/content/player-2.png"
                loading="lazy"
                alt="player"
              />
            </div>
            <div class="playerCard__info h4">
              <span class="text-secondary">Jan</span> Dunovský
            </div>
          </div>
        </div>
      </div>
      <h3 class="h5 text-secondary mb-4">Fyzioterapeuti</h3>
      <div class="row g-6 mb-6">
        <div class="col-xl-3 col-lg-4 col-sm-6">
          <div class="playerCard">
            <div class="playerCard__img">
              <img
                src="images/content/player-1.png"
                loading="lazy"
                alt="player"
              />
            </div>
            <div class="playerCard__info h4">
              <span class="text-secondary">Jan</span> Dunovský
            </div>
          </div>
        </div>
        <div class="col-xl-3 col-lg-4 col-sm-6">
          <div class="playerCard">
            <div class="playerCard__img">
              <img
                src="images/content/player-2.png"
                loading="lazy"
                alt="player"
              />
            </div>
            <div class="playerCard__info h4">
              <span class="text-secondary">Jan</span> Dunovský
            </div>
          </div>
        </div>
      </div>
      <h3 class="h5 text-secondary mb-4">Maséři</h3>
      <div class="row g-6 mb-6">
        <div class="col-xl-3 col-lg-4 col-sm-6">
          <div class="playerCard">
            <div class="playerCard__img">
              <img
                src="images/content/player-1.png"
                loading="lazy"
                alt="player"
              />
            </div>
            <div class="playerCard__info h4">
              <span class="text-secondary">Jan</span> Dunovský
            </div>
          </div>
        </div>
        <div class="col-xl-3 col-lg-4 col-sm-6">
          <div class="playerCard">
            <div class="playerCard__img">
              <img
                src="images/content/player-2.png"
                loading="lazy"
                alt="player"
              />
            </div>
            <div class="playerCard__info h4">
              <span class="text-secondary">Jan</span> Dunovský
            </div>
          </div>
        </div>
      </div>
      <h3 class="h5 text-secondary mb-4">Kustod</h3>
      <div class="row g-6 mb-6">
        <div class="col-xl-3 col-lg-4 col-sm-6">
          <div class="playerCard">
            <div class="playerCard__img">
              <img
                src="images/content/player-1.png"
                loading="lazy"
                alt="player"
              />
            </div>
            <div class="playerCard__info h4">
              <span class="text-secondary">Jan</span> Dunovský
            </div>
          </div>
        </div>
        <div class="col-xl-3 col-lg-4 col-sm-6">
          <div class="playerCard">
            <div class="playerCard__img">
              <img
                src="images/content/player-2.png"
                loading="lazy"
                alt="player"
              />
            </div>
            <div class="playerCard__info h4">
              <span class="text-secondary">Jan</span> Dunovský
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
