<section class="hp-statistics mb-lg-16 mb-10">
  <div class="container">
    <h3 class="h5 text-secondary mb-lg-6 mb-4">Statistiky</h3>
    <div class="g-6 row">
      <div class="col-xl-6">
        <div class="top-score">
          <h4 class="h5 text-primary mb-lg-6 mb-4">Defense</h4>
          <ul class="nav nav-tabs d-flex flex-wrap gap-3 mb-4">
            <li class="">
              <a class="tab active" data-toggle="tab" href="#tackles">
                Tackles
              </a>
            </li>
            <li class="">
              <a class="tab" data-toggle="tab" href="#interceptions">
                Interceptions
              </a>
            </li>
            <li class="">
              <a class="tab" data-toggle="tab" href="#sacks"> Sacks </a>
            </li>
          </ul>
          <div class="tab-content">
            <div class="tab-pane in active" id="tackles">
              <ol class="top-score__list">
                <li class="top-score__item">
                  <a
                    href="#"
                    class="d-flex gap-2 align-items-center hover-outline"
                  >
                    <div class="top-score__img">
                      <img
                        src="images/content/player.jpeg"
                        loading="lazy"
                        alt="player"
                        width="64"
                        height="64"
                      />
                    </div>
                    <div class="d-grid g-2">
                      <div class="h6 text-secondary">František</div>
                      <div class="h5 text-primary text-uppercase">Novotný</div>
                    </div>
                  </a>
                  <div class="h5 text-accent">32</div>
                </li>
                <li class="top-score__item">
                  <div class="d-flex gap-2 align-items-center">
                    <div class="h6 text-accent">2.</div>
                    <a
                      href="#"
                      class="h6 d-flex align-items-center gap-1 hover-outline"
                    >
                      <div class="text-secondary">Jan</div>
                      <div class="text-primary">Novák</div>
                    </a>
                  </div>
                  <div class="h5 text-accent">14</div>
                </li>
                <li class="top-score__item">
                  <div class="d-flex gap-2 align-items-center">
                    <div class="h6 text-accent">3.</div>
                    <a
                      href="#"
                      class="h6 d-flex align-items-center gap-1 hover-outline"
                    >
                      <div class="text-secondary">Jan</div>
                      <div class="text-primary">Novák</div>
                    </a>
                  </div>
                  <div class="h5 text-accent">10</div>
                </li>
              </ol>
            </div>
            <div class="tab-pane fade" id="interceptions">
              <ol class="top-score__list">
                <li class="top-score__item">
                  <a
                    href="#"
                    class="d-flex gap-2 align-items-center hover-outline"
                  >
                    <div class="top-score__img">
                      <img
                        src="images/content/player.jpeg"
                        loading="lazy"
                        alt="player"
                        width="64"
                        height="64"
                      />
                    </div>
                    <div class="d-grid g-2">
                      <div class="h6 text-secondary">František</div>
                      <div class="h5 text-primary text-uppercase">Novotný</div>
                    </div>
                  </a>
                  <div class="h5 text-accent">55</div>
                </li>
                <li class="top-score__item">
                  <div class="d-flex gap-2 align-items-center">
                    <div class="h6 text-accent">2.</div>
                    <a
                      href="#"
                      class="h6 d-flex align-items-center gap-1 hover-outline"
                    >
                      <div class="text-secondary">Jan</div>
                      <div class="text-primary">Novák</div>
                    </a>
                  </div>
                  <div class="h5 text-accent">29</div>
                </li>
                <li class="top-score__item">
                  <div class="d-flex gap-2 align-items-center">
                    <div class="h6 text-accent">3.</div>
                    <a
                      href="#"
                      class="h6 d-flex align-items-center gap-1 hover-outline"
                    >
                      <div class="text-secondary">Jan</div>
                      <div class="text-primary">Novák</div>
                    </a>
                  </div>
                  <div class="h5 text-accent">37</div>
                </li>
              </ol>
            </div>
            <div class="tab-pane fade" id="sacks">
              <ol class="top-score__list">
                <li class="top-score__item">
                  <a
                    href="#"
                    class="d-flex gap-2 align-items-center hover-outline"
                  >
                    <div class="top-score__img">
                      <img
                        src="images/content/player.jpeg"
                        loading="lazy"
                        alt="player"
                        width="64"
                        height="64"
                      />
                    </div>
                    <div class="d-grid g-2">
                      <div class="h6 text-secondary">František</div>
                      <div class="h5 text-primary text-uppercase">Novotný</div>
                    </div>
                  </a>
                  <div class="h5 text-accent">78</div>
                </li>
                <li class="top-score__item">
                  <div class="d-flex gap-2 align-items-center">
                    <div class="h6 text-accent">2.</div>
                    <a
                      href="#"
                      class="h6 d-flex align-items-center gap-1 hover-outline"
                    >
                      <div class="text-secondary">Jan</div>
                      <div class="text-primary">Novák</div>
                    </a>
                  </div>
                  <div class="h5 text-accent">56</div>
                </li>
                <li class="top-score__item">
                  <div class="d-flex gap-2 align-items-center">
                    <div class="h6 text-accent">3.</div>
                    <a
                      href="#"
                      class="h6 d-flex align-items-center gap-1 hover-outline"
                    >
                      <div class="text-secondary">Jan</div>
                      <div class="text-primary">Novák</div>
                    </a>
                  </div>
                  <div class="h5 text-accent">40</div>
                </li>
              </ol>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xl-6">
        <div class="top-score">
          <h4 class="h5 text-primary mb-lg-6 mb-4">offense</h4>
          <ul class="nav nav-tabs d-flex flex-wrap gap-3 mb-4">
            <li class="">
              <a class="tab active" data-toggle="tab" href="#touchdowns">
                Touchdowns
              </a>
            </li>
            <li class="">
              <a class="tab" data-toggle="tab" href="#rushing">
                Rushing yards
              </a>
            </li>
            <li class="">
              <a class="tab" data-toggle="tab" href="#receiving">
                Receiving yards
              </a>
            </li>
          </ul>
          <div class="tab-content">
            <div class="tab-pane in active" id="touchdowns">
              <ol class="top-score__list">
                <li class="top-score__item">
                  <a
                    href="#"
                    class="d-flex gap-2 align-items-center hover-outline"
                  >
                    <div class="top-score__img">
                      <img
                        src="images/content/player.jpeg"
                        loading="lazy"
                        alt="player"
                        width="64"
                        height="64"
                      />
                    </div>
                    <div class="d-grid g-2">
                      <div class="h6 text-secondary">František</div>
                      <div class="h5 text-primary text-uppercase">Novotný</div>
                    </div>
                  </a>
                  <div class="h5 text-accent">32</div>
                </li>
                <li class="top-score__item">
                  <div class="d-flex gap-2 align-items-center">
                    <div class="h6 text-accent">2.</div>
                    <a
                      href="#"
                      class="h6 d-flex align-items-center gap-1 hover-outline"
                    >
                      <div class="text-secondary">Jan</div>
                      <div class="text-primary">Novák</div>
                    </a>
                  </div>
                  <div class="h5 text-accent">14</div>
                </li>
                <li class="top-score__item">
                  <div class="d-flex gap-2 align-items-center">
                    <div class="h6 text-accent">3.</div>
                    <a
                      href="#"
                      class="h6 d-flex align-items-center gap-1 hover-outline"
                    >
                      <div class="text-secondary">Jan</div>
                      <div class="text-primary">Novák</div>
                    </a>
                  </div>
                  <div class="h5 text-accent">10</div>
                </li>
              </ol>
            </div>
            <div class="tab-pane fade" id="rushing">
              <ol class="top-score__list">
                <li class="top-score__item">
                  <a
                    href="#"
                    class="d-flex gap-2 align-items-center hover-outline"
                  >
                    <div class="top-score__img">
                      <img
                        src="images/content/player.jpeg"
                        loading="lazy"
                        alt="player"
                        width="64"
                        height="64"
                      />
                    </div>
                    <div class="d-grid g-2">
                      <div class="h6 text-secondary">František</div>
                      <div class="h5 text-primary text-uppercase">Novotný</div>
                    </div>
                  </a>
                  <div class="h5 text-accent">42</div>
                </li>
                <li class="top-score__item">
                  <div class="d-flex gap-2 align-items-center">
                    <div class="h6 text-accent">2.</div>
                    <a
                      href="#"
                      class="h6 d-flex align-items-center gap-1 hover-outline"
                    >
                      <div class="text-secondary">Jan</div>
                      <div class="text-primary">Novák</div>
                    </a>
                  </div>
                  <div class="h5 text-accent">56</div>
                </li>
                <li class="top-score__item">
                  <div class="d-flex gap-2 align-items-center">
                    <div class="h6 text-accent">3.</div>
                    <a
                      href="#"
                      class="h6 d-flex align-items-center gap-1 hover-outline"
                    >
                      <div class="text-secondary">Jan</div>
                      <div class="text-primary">Novák</div>
                    </a>
                  </div>
                  <div class="h5 text-accent">36</div>
                </li>
              </ol>
            </div>
            <div class="tab-pane fade" id="receiving">
              <ol class="top-score__list">
                <li class="top-score__item">
                  <a
                    href="#"
                    class="d-flex gap-2 align-items-center hover-outline"
                  >
                    <div class="top-score__img">
                      <img
                        src="images/content/player.jpeg"
                        loading="lazy"
                        alt="player"
                        width="64"
                        height="64"
                      />
                    </div>
                    <div class="d-grid g-2">
                      <div class="h6 text-secondary">František</div>
                      <div class="h5 text-primary text-uppercase">Novotný</div>
                    </div>
                  </a>
                  <div class="h5 text-accent">91</div>
                </li>
                <li class="top-score__item">
                  <div class="d-flex gap-2 align-items-center">
                    <div class="h6 text-accent">2.</div>
                    <a
                      href="#"
                      class="h6 d-flex align-items-center gap-1 hover-outline"
                    >
                      <div class="text-secondary">Jan</div>
                      <div class="text-primary">Novák</div>
                    </a>
                  </div>
                  <div class="h5 text-accent">84</div>
                </li>
                <li class="top-score__item">
                  <div class="d-flex gap-2 align-items-center">
                    <div class="h6 text-accent">3.</div>
                    <a
                      href="#"
                      class="h6 d-flex align-items-center gap-1 hover-outline"
                    >
                      <div class="text-secondary">Jan</div>
                      <div class="text-primary">Novák</div>
                    </a>
                  </div>
                  <div class="h5 text-accent">61</div>
                </li>
              </ol>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
