.hp-statistics {
  position: relative;
  z-index: 4;
}
.tab-wrap {
  display: none;
  &.tab-active {
    display: block;
  }
}

// news styles
.top-score__list {
  padding: 0 16px;
}
.top-score__item {
  padding: 10px 0;
  display: flex;
  align-items: center;
  gap: 24px;
  justify-content: space-between;
}
.top-score__item:not(:last-child) {
  border-bottom: 1px solid var(--color-border);
}
.top-score__img {
  width: 64px;
  height: 64px;
  border-radius: 100%;
  overflow: hidden;
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
