<section class="pb-sm-16 pb-10 photogallery-section bg-inverse">
  <div class="bg-static pt-29">
    <div class="container position-relative z-2">
      <nav class="mb-10" aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item">
            <a class="hover-outline" href="#">Home</a>
          </li>
          <li class="breadcrumb-item">
            <a class="hover-outline" href="#">Fanzone</a>
          </li>
          <li class="breadcrumb-item active" aria-current="page">
            Fotogalerie
          </li>
        </ol>
      </nav>
      <h1 class="h2 text-primary mb-lg-6 mb-4">Galerie</h1>
      <div class="archive-section__wrapper">
        <div class="row g-6">
          {% for i in 1..4 %}
          <div class="col-xl-3 col-md-6">
            <a
              class="postFeatured"
              href="#"
              data-source="/vysocina-gladiators/build/ajax-gallery.json"
              data-gallery-id="1"
            >
              <picture class="postFeatured-img">
                <source
                  media="(max-width: 768px)"
                  srcset="
                    https://picsum.photos/330/420 1x,
                    https://picsum.photos/660/840 2x
                  "
                />

                <source
                  media="(min-width: 769px)"
                  srcset="
                    https://picsum.photos/1220/1680 1x,
                    https://picsum.photos/2440/3360 2x
                  "
                />

                <img
                  src="https://picsum.photos/660/840"
                  alt="Hero section image"
                  width="660"
                  height="840"
                  loading="eager"
                  decoding="async"
                />
              </picture>
              <div class="postFeatured-content">
                <h2 class="h5 text-primary">
                  Vysočina Gladiators jsou mistry české ligy amerického fotbalu
                </h2>
              </div>
            </a>
          </div>
          {% endfor %}
        </div>
        <hr class="my-7" />
        <div class="row g-6">
          {% for i in 1..2 %}
          <div class="col-xl-6">
            <a
              class="postVideo"
              href="#"
              data-bs-toggle="modal"
              data-bs-target="#videoModal"
            >
              <picture class="postVideo-img">
                <source
                  media="(max-width: 768px)"
                  srcset="
                    https://picsum.photos/696/364  1x,
                    https://picsum.photos/1392/728 2x
                  "
                />

                <source
                  media="(min-width: 769px)"
                  srcset="
                    https://picsum.photos/1392/704  1x,
                    https://picsum.photos/2784/1408 2x
                  "
                />

                <img
                  src="https://picsum.photos/1392/704"
                  alt="Hero section image"
                  width="1392"
                  height="704"
                  loading="eager"
                  decoding="async"
                />
              </picture>
              <div class="postVideo-icon">
                <img src="images/ico/play.svg" alt="play" loading="lazy" />
              </div>
              <div class="postVideo-content">
                <h2 class="h2 text-primary">
                  Vysočina Gladiators jsou mistry české ligy amerického fotbalu
                </h2>
              </div>
            </a>
          </div>
          {% endfor %}
        </div>
        <hr class="my-7" />
        <div class="row g-6">
          {% for i in 1..8 %}
          <div class="col-xl-3 col-md-6">
            <a
              class="postFeatured"
              href="#"
              data-source="/vysocina-gladiators/build/ajax-gallery.json"
              data-gallery-id="1"
            >
              <picture class="postFeatured-img">
                <source
                  media="(max-width: 768px)"
                  srcset="
                    https://picsum.photos/330/420 1x,
                    https://picsum.photos/660/840 2x
                  "
                />

                <source
                  media="(min-width: 769px)"
                  srcset="
                    https://picsum.photos/1220/1680 1x,
                    https://picsum.photos/2440/3360 2x
                  "
                />

                <img
                  src="https://picsum.photos/660/840"
                  alt="Hero section image"
                  width="660"
                  height="840"
                  loading="eager"
                  decoding="async"
                />
              </picture>
              <div class="postFeatured-content">
                <h2 class="h5 text-primary">
                  Vysočina Gladiators jsou mistry české ligy amerického fotbalu
                </h2>
              </div>
            </a>
          </div>
          {% endfor %}
        </div>
      </div>
      <div class="text-center mt-lg-16 mt-10">
        <a
          href="#"
          class="btn-accent js-loadMore"
          data-source="/vysocina-gladiators/build/ajax-photogallery.json"
        >
          Načíst další
        </a>
      </div>
    </div>
  </div>
</section>

<div
  class="modal fade"
  id="videoModal"
  tabindex="-1"
  aria-labelledby="videoModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-body o-content">
        <iframe
          width="560"
          height="315"
          src="https://www.youtube.com/embed/xfM3kQV3Uxo?si=_cWub6dCpAgrBqwE"
          title="YouTube video player"
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
          referrerpolicy="strict-origin-when-cross-origin"
          allowfullscreen
        ></iframe>
      </div>
    </div>
  </div>
</div>
