.header {
  z-index: 999;
  position: fixed;
  width: 100%;
  transition: all 0.3s;
  &__logo {
    width: 94px;
    height: 94px;
    transition: all 0.3s;
    position: fixed;
    left: 0;
    right: 0;
    top: 8px;
    margin: 0 auto;
    z-index: 999;
    @include media-breakpoint-down(xl) {
      width: 70px;
      height: 92px;
      left: 8px;
      top: 16px;
      margin: 16px 0 0;
      position: relative;
    }
    &:hover {
      transform: scale(1.05);
    }
    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }
  &__inner {
    width: 100%;
    display: flex;
    justify-content: space-between;
    height: 78px;
    align-items: center;
    @include media-breakpoint-down(xl) {
      height: 64px;
    }
  }
  .nav-link {
    display: block;
    text-decoration: none;
    font-family: var(--font-title);
    color: var(--color-text-secondary);
    font-weight: 900;
    font-style: Italic;
    font-size: 1rem;
    line-height: 22px;
    text-transform: uppercase;
    clear: both;
    white-space: nowrap;
    background-color: transparent;
    padding: 24px 16px;

    &:hover,
    &:focus {
      color: var(--color-text-primary);
    }
    &.show {
      color: var(--color-text-primary);
    }
  }
  .navbar-nav .nav-link {
    @include media-breakpoint-down(xl) {
      width: 100%;
      color: var(--color-text-primary);
      border-bottom: 1px solid var(--color-border);
      padding-bottom: 1rem;
      padding-left: 0;
      padding-right: 0;
    }
  }
  .navbar-nav .nav-link.dropdown-toggle::before {
    @include media-breakpoint-down(xl) {
      content: "";
      position: absolute;
      right: 0;
      background: url(../images/ico/plus.svg);
      width: 32px;
      height: 32px;
      background-size: contain;
      background-repeat: no-repeat;
      transition: all 0.2s;
    }
  }
  .navbar-nav .nav-link.dropdown-toggle.show::before {
    @include media-breakpoint-down(xl) {
      background: url(../images/ico/minus.svg);
    }
  }
}
.header.is-scrolled {
  background-color: rgba(6, 9, 14, 0.9);
  background-image: linear-gradient(
    228.47deg,
    rgba(211, 31, 60, 0) -8.13%,
    rgba(211, 31, 60, 0.1) 105.69%
  );
  @include media-breakpoint-down(xl) {
    background: linear-gradient(0deg, rgba(6, 9, 14, 0.9), rgba(6, 9, 14, 0.9)),
      conic-gradient(
        from 268.85deg at 41.35% -0.43%,
        #d31f3c -115.85deg,
        #5a6770 0.14deg,
        #90414e 93.24deg,
        rgba(211, 31, 60, 0.7) 183.95deg,
        #d31f3c 244.15deg,
        #5a6770 360.14deg
      ),
      linear-gradient(180deg, rgba(6, 9, 14, 0), #06090e 88.68%);
  }
  .header__logo {
    @include media-breakpoint-down(xl) {
      width: 56px;
      height: 72px;
      top: 0;
    }
  }
}

.header.is-dropdown-open {
  background-color: rgba(6, 9, 14, 0.9);
  background-image: linear-gradient(
    228.47deg,
    rgba(211, 31, 60, 0) -8.13%,
    rgba(211, 31, 60, 0.1) 105.69%
  );
  .dropdown-menu {
    background-color: rgba(6, 9, 14, 0.9);
    background-image: linear-gradient(
      228.47deg,
      rgba(211, 31, 60, 0) -8.13%,
      rgba(211, 31, 60, 0.1) 105.69%
    );
    @include media-breakpoint-down(xl) {
      background-color: transparent;
      background-image: none;
    }
  }
}

.collapse:not(.show) {
  display: flex;
}
.navbar-nav {
  display: flex;
  max-width: 40%;
  width: 100%;
  justify-content: space-between;
  @include media-breakpoint-down(xl) {
    flex-direction: column;
    max-width: 100%;
  }
}

.dropdown {
  &-toggle {
    position: relative;

    &::after {
      display: none;
    }
  }
  &-menu {
    position: absolute;
    z-index: 20;
    top: 100%;
    padding: 16px 0 32px;
    overflow: hidden;
    display: none;
    width: 100%;
    min-height: 120px;
    border-bottom: 1px solid #9badba;
    border-bottom-right-radius: 1rem;
    border-bottom-left-radius: 1rem;
    @include media-breakpoint-down(xl) {
      text-align: center;
      position: static !important;
      flex-direction: column;
      box-shadow: none;
      transform: none !important;
      border-left: none;
      border-right: none;
      width: 100%;
      text-align: right;
      left: 0 !important;
      padding-top: 16px;
      padding-bottom: 16px;
      background-color: transparent;
      background-image: none;
      border-radius: 0;
    }
    .container {
      @include media-breakpoint-down(xl) {
        padding: 0;
      }
    }
  }

  &-item {
    display: block;
    width: 100%;
    position: relative;
    padding: 6px 0;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: -0.01em;
    font-size: 14px;
    color: var(--color-text-primary);
    text-decoration-color: transparent;
    &:hover {
      text-decoration-color: inherit;
    }
    @include media-breakpoint-down(xl) {
      transform: none;
      width: 100%;
      left: 0;
      padding-left: 0;
      padding-right: 0;
      font-size: 16px;
      padding-top: 4px;
      padding-bottom: 4px;
      color: var(--color-light) !important;
      &:hover,
      &:focus {
        color: var(--color-light);
      }
    }
  }
}
.navbar-collapse {
  display: flex;
  justify-content: space-between;
  width: 100%;
  @include media-breakpoint-down(xl) {
    position: absolute;
    top: 100%;
    right: 0;
    z-index: 99;
    width: 100%;
    padding: 1.5rem 16px 20px;
    opacity: 0;
    visibility: hidden;
    flex-direction: column;
    transition: opacity 0.3s, visibility 0.3s;
    flex-wrap: wrap;
  }
  @include media-breakpoint-down(sm) {
    width: 100% !important;
    right: 0 !important;
    box-shadow: none !important;
  }
}

.is-nav-open .header,
.is-nav-open .header .navbar-collapse {
  @include media-breakpoint-down(xl) {
    opacity: 1;
    visibility: visible;
    transition-delay: 0s;
    background: linear-gradient(0deg, rgba(6, 9, 14, 0.9), rgba(6, 9, 14, 0.9)),
      conic-gradient(
        from 268.85deg at 41.35% -0.43%,
        #d31f3c -115.85deg,
        #5a6770 0.14deg,
        #90414e 93.24deg,
        rgba(211, 31, 60, 0.7) 183.95deg,
        #d31f3c 244.15deg,
        #5a6770 360.14deg
      ),
      linear-gradient(180deg, rgba(6, 9, 14, 0) 0%, #06090e 88.68%);
  }
}

@include media-breakpoint-down(xl) {
  .nav-item.showMob {
    > .dropdown-menu {
      display: flex !important;
    }
  }
}
@media all and (min-width: 992px) {
  .navbar .nav-item .dropdown-menu {
    display: none;
    &.show {
      display: none;
    }
  }

  .navbar .nav-item .dropdown-menu {
    margin-top: 0;
  }
}

.dropdown-menu.show {
  display: flex;
}

// nav

.dropdown-list {
  display: inline-grid;
  grid-auto-flow: column;
  grid-template-rows: repeat(3, auto);
  gap: 8px 60px;
  justify-items: start;
  @include media-breakpoint-down(xl) {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
}
 