<header class="header">
  <div class="container">
    <div class="header__inner">
      <a href="#" class="header__logo d-xl-none d-block">
        <img src="images/content/logo-mobile.png" alt="logo" />
      </a>
      <div class="d-xl-none d-flex gap-md-8 gap-0">
        <a class="nav-link text-primary p-4" href="#">vstupenky</a>
        <a class="nav-link text-primary p-4" href="#">E-shop</a>
      </div>
      <nav class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">
          <li class="nav-item dropdown">
            <a
              class="nav-link dropdown-toggle"
              href="#"
              role="button"
              data-bs-toggle="dropdown"
              data-bs-auto-close="outside"
              aria-expanded="false"
            >
              Klub
            </a>
            <div class="dropdown-menu">
              <div class="container">
                <ul class="dropdown-list">
                  <li>
                    <a class="dropdown-item" href="#">Vedení a kontakty</a>
                  </li>
                  <li>
                    <a class="dropdown-item" href="#">Historie </a>
                  </li>
                  <li>
                    <a class="dropdown-item" href="#">Síň slávy </a>
                  </li>
                  <li>
                    <a class="dropdown-item" href="#">Vizuální identita </a>
                  </li>
                  <li>
                    <a class="dropdown-item" href="#">Glads pomáhají </a>
                  </li>
                  <li>
                    <a class="dropdown-item" href="#">Stadion </a>
                  </li>
                  <li>
                    <a class="dropdown-item" href="#">Akreditace </a>
                  </li>
                  <li>
                    <a class="dropdown-item" href="#">GDPR </a>
                  </li>
                </ul>
              </div>
            </div>
          </li>
          <li class="nav-item dropdown">
            <a
              class="nav-link dropdown-toggle"
              href="#"
              role="button"
              data-bs-toggle="dropdown"
              data-bs-auto-close="outside"
              aria-expanded="false"
            >
              A-tým
            </a>
            <div class="dropdown-menu">
              <div class="container">
                <ul class="dropdown-list">
                  <li>
                    <a class="dropdown-item" href="#">Soupiska</a>
                  </li>
                  <li>
                    <a class="dropdown-item" href="#">Zápasy </a>
                  </li>
                  <li>
                    <a class="dropdown-item" href="#">Tabulka </a>
                  </li>
                  <li>
                    <a class="dropdown-item" href="#">Statistiky </a>
                  </li>
                  <li>
                    <a class="dropdown-item" href="#">Realizační tým </a>
                  </li>
                  <li>
                    <a class="dropdown-item" href="#">Změny v kádru </a>
                  </li>
                </ul>
              </div>
            </div>
          </li>
          <li class="nav-item dropdown">
            <a
              class="nav-link dropdown-toggle"
              href="#"
              role="button"
              data-bs-toggle="dropdown"
              data-bs-auto-close="outside"
              aria-expanded="false"
            >
              Mládež
            </a>
            <div class="dropdown-menu">
              <div class="container">
                <ul class="dropdown-list">
                  <li>
                    <a class="dropdown-item" href="#">Tackle U21</a>
                  </li>
                  <li>
                    <a class="dropdown-item" href="#">Tackle U18 </a>
                  </li>
                  <li>
                    <a class="dropdown-item" href="#">Flag U15 </a>
                  </li>
                  <li>
                    <a class="dropdown-item" href="#">Realizační týmy </a>
                  </li>
                  <li>
                    <a class="dropdown-item" href="#">Nábor hráčů </a>
                  </li>
                </ul>
              </div>
            </div>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">vstupenky</a>
          </li>
        </ul>
        <a href="#" class="header__logo d-xl-block d-none">
          <img src="images/content/logo.png" alt="logo" />
        </a>
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" href="#">E-shop</a>
          </li>
          <li class="nav-item dropdown">
            <a
              class="nav-link dropdown-toggle"
              href="#"
              role="button"
              data-bs-toggle="dropdown"
              data-bs-auto-close="outside"
              aria-expanded="false"
            >
              Média
            </a>
            <div class="dropdown-menu">
              <div class="container">
                <ul class="dropdown-list">
                  <li>
                    <a class="dropdown-item" href="#" target="_blank"
                      >Facebook
                    </a>
                  </li>
                  <li>
                    <a class="dropdown-item" href="#" target="_blank"
                      >Instagram
                    </a>
                  </li>
                  <li>
                    <a class="dropdown-item" href="#">Glads v repre </a>
                  </li>
                  <li>
                    <a class="dropdown-item" href="#">Archiv článků </a>
                  </li>
                  <li>
                    <a class="dropdown-item" href="#" target="_blank"
                      >CAAF.cz
                    </a>
                  </li>
                </ul>
              </div>
            </div>
          </li>
          <li class="nav-item dropdown">
            <a
              class="nav-link dropdown-toggle"
              href="#"
              role="button"
              data-bs-toggle="dropdown"
              data-bs-auto-close="outside"
              aria-expanded="false"
            >
              Fanzone
            </a>
            <div class="dropdown-menu">
              <div class="container">
                <ul class="dropdown-list">
                  <li>
                    <a class="dropdown-item" href="#">Fotogalerie </a>
                  </li>
                  <li>
                    <a class="dropdown-item" href="#">Video </a>
                  </li>
                  <li>
                    <a class="dropdown-item" href="#">Ke stažení </a>
                  </li>
                  <li>
                    <a class="dropdown-item" href="#">JCA Legends </a>
                  </li>
                  <li>
                    <a class="dropdown-item" href="#">Maskot MAX </a>
                  </li>
                  <li>
                    <a class="dropdown-item" href="#">Gameday </a>
                  </li>
                </ul>
              </div>
            </div>
          </li>
          <li class="nav-item dropdown">
            <a
              class="nav-link dropdown-toggle"
              href="#"
              role="button"
              data-bs-toggle="dropdown"
              data-bs-auto-close="outside"
              aria-expanded="false"
            >
              Partneři
            </a>
            <div class="dropdown-menu">
              <div class="container">
                <ul class="dropdown-list">
                  <li>
                    <a class="dropdown-item" href="#">Partneři </a>
                  </li>
                  <li>
                    <a class="dropdown-item" href="#">Spolupráce </a>
                  </li>
                  <li>
                    <a class="dropdown-item" href="#">Ke stažení </a>
                  </li>
                  <li>
                    <a class="dropdown-item" href="#">JCA Legends </a>
                  </li>
                  <li>
                    <a class="dropdown-item" href="#">Maskot MAX </a>
                  </li>
                  <li>
                    <a class="dropdown-item" href="#">Gameday </a>
                  </li>
                </ul>
              </div>
            </div>
          </li>
        </ul>
      </nav>
      <button class="c-header__opener js-header__opener" type="button">
        <span></span>
      </button>
    </div>
  </div>
</header>
