<div class="gallery mt-10">
  <div class="row g-4">
    <div class="col-sm-5">
      <a
        class="gallery__item"
        href="#"
        data-source="/vysocina-gladiators/build/ajax-gallery.json"
        data-gallery-id="1"
      >
        <img
          srcset="https://picsum.photos/302/340"
          alt="photo"
          width="302"
          height="340"
          loading="lazy"
        />
      </a>
    </div>
    <div class="col-sm-7">
      <div class="row g-4">
        <div class="col-6">
          <a
            class="gallery__item"
            href="#"
            data-source="/vysocina-gladiators/build/ajax-gallery.json"
            data-gallery-id="1"
          >
            <img
              srcset="https://picsum.photos/193/158"
              alt="photo"
              width="193"
              height="158"
              loading="lazy"
            />
          </a>
        </div>
        <div class="col-6">
          <a
            class="gallery__item"
            href="#"
            data-source="/vysocina-gladiators/build/ajax-gallery.json"
            data-gallery-id="1"
          >
            <img
              srcset="https://picsum.photos/193/158"
              alt="photo"
              width="193"
              height="158"
              loading="lazy"
            />
          </a>
        </div>
        <div class="col-6">
          <a
            class="gallery__item"
            href="#"
            data-source="/vysocina-gladiators/build/ajax-gallery.json"
            data-gallery-id="1"
          >
            <img
              srcset="https://picsum.photos/193/158"
              alt="photo"
              width="193"
              height="158"
              loading="lazy"
            />
          </a>
        </div>
        <div class="col-6">
          <a
            class="gallery__item"
            href="#"
            data-source="/vysocina-gladiators/build/ajax-gallery.json"
            data-gallery-id="1"
          >
            <img
              srcset="https://picsum.photos/193/158"
              alt="photo"
              width="193"
              height="158"
              loading="lazy"
            />
            <div class="gallery__item-num text-primary">
              <div class="font-title h2">34</div>
              <div class="font-body text-regular-md">dalších</div>
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
