<footer class="footer">
  <div class="container">
    <div
      class="row g-10 flex-wrap justify-content-between position-relative z-1"
    >
      <div class="col-xl-5">
        <div
          class="d-flex align-items-center gap-12 mb-6 justify-content-xl-start justify-content-center"
        >
          <a href="#" class="footer__logo">
            <img
              src="images/content/logo-mobile.png"
              loading="lazy"
              alt="logo"
              width="70"
              height="92"
            />
          </a>
          <ul class="social">
            <li>
              <a href="#" target="_blank" class="social__link">
                <img
                  height="16"
                  width="17"
                  src="images/ico/fb.svg"
                  loading="lazy"
                  alt="social"
                />
              </a>
            </li>
            <li>
              <a href="#" target="_blank" class="social__link">
                <img
                  width="17"
                  height="16"
                  src="images/ico/instagram.svg"
                  loading="lazy"
                  alt="social"
                />
              </a>
            </li>
            <li>
              <a href="#" target="_blank" class="social__link">
                <img
                  width="24"
                  height="16"
                  src="images/ico/youtube.svg"
                  loading="lazy"
                  alt="social"
                />
              </a>
            </li>
          </ul>
        </div>
        <div class="footer__title">Vysočina Gladiators</div>
      </div>
      <div class="col-xl-6 d-sm-block d-none">
        <div class="row justify-content-between g-6">
          <div class="col-sm-4">
            <div class="d-grid gap-6 justify-content-sm-center">
              <ul class="d-grid gap-2 hover-outline">
                <li>
                  <a
                    class="font-title text-black-md text-primary fs-italic text-uppercase"
                    href="#"
                    >Klub</a
                  >
                </li>
                <li>
                  <a class="text-regular-sm text-secondary" href="#">
                    Vedení a kontakty
                  </a>
                </li>
                <li>
                  <a class="text-regular-sm text-secondary" href="#">
                    Historie
                  </a>
                </li>
                <li>
                  <a class="text-regular-sm text-secondary" href="#">
                    Síň slávy
                  </a>
                </li>
                <li>
                  <a class="text-regular-sm text-secondary" href="#">
                    Vizuální identita
                  </a>
                </li>
                <li>
                  <a class="text-regular-sm text-secondary" href="#">
                    Glads pomáhají
                  </a>
                </li>
                <li>
                  <a class="text-regular-sm text-secondary" href="#">
                    Stadion
                  </a>
                </li>
                <li>
                  <a class="text-regular-sm text-secondary" href="#">
                    Akreditace
                  </a>
                </li>
                <li>
                  <a class="text-regular-sm text-secondary" href="#"> GDPR </a>
                </li>
              </ul>
              <ul class="d-grid gap-2 hover-outline">
                <li>
                  <a
                    class="font-title text-black-md text-primary fs-italic text-uppercase"
                    href="#"
                    >Média</a
                  >
                </li>
                <li>
                  <a
                    class="text-regular-sm text-secondary"
                    href="#"
                    target="_blank"
                  >
                    Facebook
                  </a>
                </li>
                <li>
                  <a
                    class="text-regular-sm text-secondary"
                    href="#"
                    target="_blank"
                  >
                    Instagram
                  </a>
                </li>
                <li>
                  <a class="text-regular-sm text-secondary" href="#">
                    Glads v repre
                  </a>
                </li>
                <li>
                  <a class="text-regular-sm text-secondary" href="#">
                    Archiv článků
                  </a>
                </li>
                <li>
                  <a
                    class="text-regular-sm text-secondary"
                    href="#"
                    target="_blank"
                  >
                    CAAF.cz
                  </a>
                </li>
              </ul>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="d-grid gap-6 justify-content-sm-center">
              <ul class="d-grid gap-2 hover-outline">
                <li>
                  <a
                    class="font-title text-black-md text-primary fs-italic text-uppercase"
                    href="#"
                  >
                    A-tým
                  </a>
                </li>
                <li>
                  <a class="text-regular-sm text-secondary" href="#">
                    Soupiska
                  </a>
                </li>
                <li>
                  <a class="text-regular-sm text-secondary" href="#">
                    Zápasy
                  </a>
                </li>
                <li>
                  <a class="text-regular-sm text-secondary" href="#">
                    Tabulka
                  </a>
                </li>
                <li>
                  <a class="text-regular-sm text-secondary" href="#">
                    Statistiky
                  </a>
                </li>
                <li>
                  <a class="text-regular-sm text-secondary" href="#">
                    Realizační tým
                  </a>
                </li>
                <li>
                  <a class="text-regular-sm text-secondary" href="#">
                    Změny v kádru
                  </a>
                </li>
              </ul>
              <ul class="d-grid gap-2 hover-outline">
                <li>
                  <a
                    class="font-title text-black-md text-primary fs-italic text-uppercase"
                    href="#"
                  >
                    Mládež/Academy
                  </a>
                </li>

                <li>
                  <a class="text-regular-sm text-secondary" href="#">
                    Tackle U21
                  </a>
                </li>
                <li>
                  <a class="text-regular-sm text-secondary" href="#">
                    Tackle U18
                  </a>
                </li>
                <li>
                  <a class="text-regular-sm text-secondary" href="#">
                    Flag U15
                  </a>
                </li>
                <li>
                  <a class="text-regular-sm text-secondary" href="#">
                    Realizační týmy
                  </a>
                </li>
                <li>
                  <a class="text-regular-sm text-secondary" href="#">
                    Nábor hráčů
                  </a>
                </li>
              </ul>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="d-grid gap-6 justify-content-sm-center">
              <a
                class="font-title text-black-md text-primary fs-italic text-uppercase hover-outline"
                href="#"
              >
                e-shop
              </a>
              <a
                class="font-title text-black-md text-primary fs-italic text-uppercase hover-outline"
                href="#"
              >
                Vstupenky
              </a>

              <ul class="d-grid gap-2 hover-outline">
                <li>
                  <a
                    class="font-title text-black-md text-primary fs-italic text-uppercase"
                    href="#"
                  >
                    Fanzone
                  </a>
                </li>
                <li>
                  <a class="text-regular-sm text-secondary" href="#">
                    Fotogalerie
                  </a>
                </li>
                <li>
                  <a class="text-regular-sm text-secondary" href="#"> Video </a>
                </li>
                <li>
                  <a class="text-regular-sm text-secondary" href="#">
                    Ke stažení
                  </a>
                </li>
                <li>
                  <a class="text-regular-sm text-secondary" href="#">
                    JCA Legends
                  </a>
                </li>
                <li>
                  <a class="text-regular-sm text-secondary" href="#">
                    Maskot MAX
                  </a>
                </li>
                <li>
                  <a class="text-regular-sm text-secondary" href="#">
                    Gameday
                  </a>
                </li>
              </ul>
              <ul class="d-grid gap-2 hover-outline">
                <li>
                  <a
                    class="font-title text-black-md text-primary fs-italic text-uppercase"
                    href="#"
                  >
                    Partneři
                  </a>
                </li>

                <li>
                  <a class="text-regular-sm text-secondary" href="#">
                    Spolupráce
                  </a>
                </li>
                <li>
                  <a class="text-regular-sm text-secondary" href="#">
                    Ke stažení
                  </a>
                </li>
                <li>
                  <a class="text-regular-sm text-secondary" href="#">
                    JCA Legends
                  </a>
                </li>
                <li>
                  <a class="text-regular-sm text-secondary" href="#">
                    Maskot MAX
                  </a>
                </li>
                <li>
                  <a class="text-regular-sm text-secondary" href="#">
                    Gameday
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="footer-bottom">
      <ul
        class="d-flex gap-lg-10 gap-6 text-regular-xs text-secondary hover-outline flex-wrap justify-content-lg-start justify-content-center"
      >
        <li>
          <a
            href="javascript:void(0);"
            data-cc="c-settings"
            aria-haspopup="dialog"
          >
            Cookies
          </a>
        </li>
        <li>
          <a href="#">Copyright</a>
        </li>
        <li>
          <a href="#">Fakturační údaje</a>
        </li>
        <li>
          <a href="#">Pristupnost</a>
        </li>
        <li>
          <a href="#">Podmínky použití webu</a>
        </li>
        <li>
          <a href="#">Obchodní podmínky</a>
        </li>
      </ul>
      <div
        class="d-flex align-items-center gap-3 text-regular-xs text-secondary"
      >
        Vyrobeno v
        <a href="#" target="_blank">
          <img
            class="object-fit-contain"
            src="images/ico/esports.svg"
            width="70"
            height="21"
            alt="esports"
            loading="lazy"
          />
        </a>
        v roce 2025
      </div>
    </div>
  </div>
</footer>
