.footer {
  padding: 56px 0 40px;

  width: 100%;
  position: relative;
  &::before {
    content: "";
    position: absolute;
    background-image: url(../images/content/bg-footer-2.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
    min-height: 100vh;
    bottom: 0;
    left: 0;
    z-index: -1;
  }
  &::after {
    content: "";
    position: absolute;
    background-image: url(../images/content/bg-footer.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
    min-height: 100vh;
    bottom: 0;
    left: 0;
  }
  @include media-breakpoint-down(sm) {
    padding: 32px 0;
  }
  &__logo {
    width: 70px;
    height: 92px;
    display: block;
    &:hover img {
      transform: scale(1.05);
    }
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      transition: all 0.3s;
    }
  }
  &__title {
    font-family: var(--font-subtitle);
    font-weight: 900;
    font-style: italic;
    font-size: 112px;
    line-height: 120px;
    letter-spacing: 0;
    text-transform: uppercase;
    color: transparent;
    -webkit-text-stroke: 1px #ffffff;
    @include media-breakpoint-down(xl) {
      max-width: 640px;
      margin: 0 auto;
      text-align: center;
    }
    @include media-breakpoint-down(sm) {
      font-size: 60px;
      line-height: 110%;
    }
  }
  &-bottom {
    padding-top: 64px;
    position: relative;
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: space-between;
    @include media-breakpoint-down(lg) {
      flex-direction: column;
      justify-content: center;
      gap: 32px;
    }
    @include media-breakpoint-down(sm) {
      padding-top: 32px;
    }
  }
}

.social {
  display: flex;
  align-items: center;
  gap: 24px;
  a {
    display: block;
    transition: all 0.3s;
    img {
      max-width: 24px;
      height: 16px;
      object-fit: contain;
    }
    &:hover {
      transform: scale(1.1);
    }
  }
}
