<section class="pub-section mb-lg-16 mb-10">
  <div class="container">
    <div class="row g-6">
      <div class="col-xl-4 col-lg-6">
        <a href="#" class="pubItem">
          <img src="images/content/pub-1.png" loading="lazy" alt="pub" />
          <div class="pubItem__title">
            Nový <span class="text-end d-block text-primary">Merch</span>
          </div>
        </a>
      </div>
      <div class="col-xl-4 col-lg-6">
        <a href="#" class="pubItem">
          <img src="images/content/pub-2.png" loading="lazy" alt="pub" />
          <div class="pubItem__title">
            Glad <span class="d-block text-primary">podcast</span>
          </div>
        </a>
      </div>
      <div class="col-xl-4 col-lg-6">
        <a href="#" class="pubItem">
          <img src="images/content/pub-3.png" loading="lazy" alt="pub" />
          <div class="pubItem__title text-primary">
            <span>Vstu </span> <span>penky</span>
          </div>
        </a>
      </div>
    </div>
  </div>
</section>
