:root {
  --font-title: "Fira Sans Condensed", sans-serif;
  --font-body: "Fira Sans", sans-serif;
  --font-subtitle: "Fira Sans Extra Condensed", sans-serif;

  --color-white: #fff;
  --color-dark: #000;

  --color-accent: #d31f3c;
  --color-inverse: #06090e;

  --color-text-secondary: #9badba;
  --color-text-primary: #fafafa;

  --color-placeholder: #5a6770;

  --color-border: rgba(155, 173, 186, 0.4);
}
